annotated-types
asgiref
certifi
cffi
charset-normalizer
colorama
cryptography
dj-database-url
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework_simplejwt
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
packaging
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
requests
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
reportlab
